{#
/**
 * @file
 * This is the template file for the object page for binary objects.
 *
 * Available variables:
 * - $islandora_object: The Islandora object rendered in this template file.
 * - $islandora_binary_object_info: Information about the binary object.
 * - $islandora_thumbnail_img: The thumbnail image of the binary object.
 * - $islandora_binary_object_download: Download link for the object.
 * - $description: Defined metadata descripton for the object.
 * - $parent_collections: Parent collections of the object if applicable.
 * - $metadata: Rendered metadata display for the binary object.
 *
 * @see template_preprocess_islandora_binary_object()
 * @see theme_islandora_binary_object()
 */
#}

<div class="islandora-binary-object-object islandora">
  <div class="islandora-binary-object-content-wrapper clearfix">
    {% if islandora_binary_object_info is defined %}
      {{ islandora_binary_object_info }}
    {% endif %}
    {% if islandora_thumbnail_img is defined %}
      <div class="islandora-binary-object-content">
        {{ islandora_thumbnail_img }}
      </div>
    {% endif %}
    {% if islandora_binary_object_download is defined %}
      {{ islandora_binary_object_download }}
    {% endif %}
  </div>
  <div class="islandora-binary-object-metadata">
    {{ description }}
    {% if parent_collections %}
      <div>
        <h2>{{ 'In collections'|t }}</h2>
        <ul>
          {% for collection in parent_collections %}
            <li>
              <a href="islandora/object/{{ collection.id }}">{{ collection.label }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {{ metadata }}
  </div>
</div>
